In [13]:
import pandas as pd

# Recommendations cost calculator

In [14]:
rec = pd.read_csv('recommendations.csv')
rec.head()

,LMK_KEY,IMPROVEMENT_ITEM,IMPROVEMENT_SUMMARY_TEXT,IMPROVEMENT_DESCR_TEXT,IMPROVEMENT_ID,IMPROVEMENT_ID_TEXT,INDICATIVE_COST
0,e2312659dbfb01ce5624ad673bec8b5300fee74eec5188...,1,NaN,NaN,57,Suspended floor insulation,"£800 - £1,200"
1,e2312659dbfb01ce5624ad673bec8b5300fee74eec5188...,2,NaN,NaN,19,Solar water heating,"£4,000 - £6,000"
2,e2312659dbfb01ce5624ad673bec8b5300fee74eec5188...,3,NaN,NaN,34,"Solar photovoltaic panels, 2.5 kWp","£3,500 - £5,500"
3,05b12a8b824957bd19efdb0f37709271f8a9064b86881c...,1,NaN,NaN,19,Solar water heating,"£4,000 - £6,000"
4,05b12a8b824957bd19efdb0f37709271f8a9064b86881c...,2,NaN,NaN,34,"Solar photovoltaic panels, 2.5 kWp","£3,500 - £5,500"

In [15]:
rec2 = rec[['IMPROVEMENT_ID', 'IMPROVEMENT_ID_TEXT', 'INDICATIVE_COST']]
rec2

       IMPROVEMENT_ID                 IMPROVEMENT_ID_TEXT  INDICATIVE_COST
0                  57          Suspended floor insulation    £800 - £1,200
1                  19                 Solar water heating  £4,000 - £6,000
2                  34  Solar photovoltaic panels, 2.5 kWp  £3,500 - £5,500
3                  19                 Solar water heating  £4,000 - £6,000
4                  34  Solar photovoltaic panels, 2.5 kWp  £3,500 - £5,500
...               ...                                 ...              ...
13817              57          Suspended floor insulation    £800 - £1,200
13818              34  Solar photovoltaic panels, 2.5 kWp  £3,500 - £5,500
13819              57          Suspended floor insulation    £800 - £1,200
13820              19                 Solar water heating  £4,000 - £6,000
13821              34  Solar photovoltaic panels, 2.5 kWp  £3,500 - £5,500

[13822 rows x 3 columns]

In [16]:
rec3 = rec2.drop_duplicates()
rec3

,IMPROVEMENT_ID,IMPROVEMENT_ID_TEXT,INDICATIVE_COST
0,57,Suspended floor insulation,"£800 - £1,200"
1,19,Solar water heating,"£4,000 - £6,000"
2,34,"Solar photovoltaic panels, 2.5 kWp","£3,500 - £5,500"
5,5,Increase loft insulation to 270 mm,£100 - £350
6,7,50 mm internal or external wall insulation,"£4,000 - £14,000"
...,...,...,...
12603,39,Wood pellet stove with boiler and radiators,"£7,000 - £13,000"
12628,48,High performance external doors,"£3,500"
12765,61,High heat retention storage heaters and dual i...,"£2,400 - £3,600"
13404,62,High heat retention storage heaters,"£3,200 - £4,800"
13427,61,High heat retention storage heaters and dual i...,£400 - £600

In [17]:
cost = rec3['INDICATIVE_COST'].tolist()
cost

['£800 - £1,200',
 '£4,000 - £6,000',
 '£3,500 - £5,500',
 '£100 - £350',
 '£4,000 - £14,000',
 '£50',
 '£500 - £1,500',
 '£15',
 '£4,000 - £6,000',
 '£350 - £450',
 '£2,200 - £3,000',
 '£25',
 '£850 - £1,500',
 '£350 - £450',
 '£1,500 - £2,700',
 '£75',
 '£300 - £600',
 '£30',
 '£15 - £30',
 '£3,000 - £7,000',
 '£20',
 '£1,200 - £1,800',
 '£10',
 '£3,300 - £6,500',
 '£350 - £450',
 '£80 - £120',
 '£1,600 - £2,400',
 '£3,000 - £7,000',
 '£40',
 '£100',
 '£15 - £30',
 '£60',
 '£1,000',
 '£15,000 - £25,000',
 '£35',
 '£55',
 '£350 - £450',
 '£585 - £725',
 '£1,000 - £1,400',
 '£1,600 - £2,400',
 '£500',
 '£350 - £450',
 '£45',
 '£1,200 - £1,800',
 '£800 - £1,200',
 '£400 - £900',
 '£200 - £400',
 '£1,200 - £1,800',
 '£70',
 '£2,000 - £3,000',
 '£800 - £1,200',
 '£1,250 - £2,500',
 '£800 - £1,200',
 '£1,200 - £1,800',
 '£80',
 '£3,000 - £7,000',
 '£85',
 '£120',
 '£5',
 '£65',
 '£800 - £1,200',
 '£95',
 '£2,200 - £3,000',
 '£400 - £600',
 '£350 - £450',
 '£430',
 '£15 - £30',
 '£1,600 - £2,400',
 '£2,000',
 '£2,800 - £4,200',
 '£2,400 - £3,600',
 '£400 - £600',
 '£1,500',
 '£2,000 - £3,000',
 '£5,000 - £8,000',
 '£2,000 - £3,000',
 '£110',
 '£90',
 '£1,600 - £2,400',
 '£130',
 '£125',
 '£2,000 - £3,000',
 '£400 - £600',
 '£585',
 '£2,500',
 '£140',
 '£400',
 '£435',
 '£150',
 '£7,000 - £13,000',
 '£3,500',
 '£2,400 - £3,600',
 '£3,200 - £4,800',
 '£400 - £600']

In [18]:
mylist = []
for element in cost:
    mylist.append(element.rsplit('£',1)[1])
    
mylist

['1,200',
 '6,000',
 '5,500',
 '350',
 '14,000',
 '50',
 '1,500',
 '15',
 '6,000',
 '450',
 '3,000',
 '25',
 '1,500',
 '450',
 '2,700',
 '75',
 '600',
 '30',
 '30',
 '7,000',
 '20',
 '1,800',
 '10',
 '6,500',
 '450',
 '120',
 '2,400',
 '7,000',
 '40',
 '100',
 '30',
 '60',
 '1,000',
 '25,000',
 '35',
 '55',
 '450',
 '725',
 '1,400',
 '2,400',
 '500',
 '450',
 '45',
 '1,800',
 '1,200',
 '900',
 '400',
 '1,800',
 '70',
 '3,000',
 '1,200',
 '2,500',
 '1,200',
 '1,800',
 '80',
 '7,000',
 '85',
 '120',
 '5',
 '65',
 '1,200',
 '95',
 '3,000',
 '600',
 '450',
 '430',
 '30',
 '2,400',
 '2,000',
 '4,200',
 '3,600',
 '600',
 '1,500',
 '3,000',
 '8,000',
 '3,000',
 '110',
 '90',
 '2,400',
 '130',
 '125',
 '3,000',
 '600',
 '585',
 '2,500',
 '140',
 '400',
 '435',
 '150',
 '13,000',
 '3,500',
 '3,600',
 '4,800',
 '600']

In [19]:
max_cost = []
for element in mylist:
        max_cost.append(element.replace(',', ''))

In [20]:
max_cost

['1200',
 '6000',
 '5500',
 '350',
 '14000',
 '50',
 '1500',
 '15',
 '6000',
 '450',
 '3000',
 '25',
 '1500',
 '450',
 '2700',
 '75',
 '600',
 '30',
 '30',
 '7000',
 '20',
 '1800',
 '10',
 '6500',
 '450',
 '120',
 '2400',
 '7000',
 '40',
 '100',
 '30',
 '60',
 '1000',
 '25000',
 '35',
 '55',
 '450',
 '725',
 '1400',
 '2400',
 '500',
 '450',
 '45',
 '1800',
 '1200',
 '900',
 '400',
 '1800',
 '70',
 '3000',
 '1200',
 '2500',
 '1200',
 '1800',
 '80',
 '7000',
 '85',
 '120',
 '5',
 '65',
 '1200',
 '95',
 '3000',
 '600',
 '450',
 '430',
 '30',
 '2400',
 '2000',
 '4200',
 '3600',
 '600',
 '1500',
 '3000',
 '8000',
 '3000',
 '110',
 '90',
 '2400',
 '130',
 '125',
 '3000',
 '600',
 '585',
 '2500',
 '140',
 '400',
 '435',
 '150',
 '13000',
 '3500',
 '3600',
 '4800',
 '600']

In [21]:
rec3['max_cost'] = max_cost

<ipython-input-21-3b575cb3ac9e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rec3['max_cost'] = max_cost

In [22]:
rec3

,IMPROVEMENT_ID,IMPROVEMENT_ID_TEXT,INDICATIVE_COST,max_cost
0,57,Suspended floor insulation,"£800 - £1,200",1200
1,19,Solar water heating,"£4,000 - £6,000",6000
2,34,"Solar photovoltaic panels, 2.5 kWp","£3,500 - £5,500",5500
5,5,Increase loft insulation to 270 mm,£100 - £350,350
6,7,50 mm internal or external wall insulation,"£4,000 - £14,000",14000
...,...,...,...,...
12603,39,Wood pellet stove with boiler and radiators,"£7,000 - £13,000",13000
12628,48,High performance external doors,"£3,500",3500
12765,61,High heat retention storage heaters and dual i...,"£2,400 - £3,600",3600
13404,62,High heat retention storage heaters,"£3,200 - £4,800",4800
13427,61,High heat retention storage heaters and dual i...,£400 - £600,600

In [23]:
rec4 = rec3.set_index('IMPROVEMENT_ID_TEXT').to_dict()['max_cost']
rec4= {k.lower(): v for k, v in rec4.items()}
rec4

{'suspended floor insulation': '1200',
 'solar water heating': '6000',
 'solar photovoltaic panels, 2.5 kwp': '8000',
 'increase loft insulation to 270 mm': '350',
 '50 mm internal or external wall insulation': '14000',
 'low energy lighting for all fixed outlets': '150',
 'cavity wall insulation': '1500',
 'solid floor insulation': '6000',
 'upgrade heating controls': '450',
 'replace boiler with new condensing boiler': '3000',
 'flat roof insulation': '1500',
 'upgrading heating controls': '450',
 'room-in-roof insulation': '2700',
 'party wall insulation': '600',
 'increase hot water cylinder insulation': '30',
 'change heating to gas condensing boiler': '7000',
 'high heat retention storage heaters': '4800',
 'replace single glazed windows with low-e double glazing': '6500',
 'draughtproof single-glazed windows': '120',
 'add additional 80 mm jacket to hot water cylinder': '30',
 'high performance external doors': '3500',
 'wind turbine': '25000',
 'time and temperature zone control': '450',
 'heat recovery system for mixer showers': '725',
 'replacement glazing units': '1400',
 'high heat retention storage heaters and dual immersion cylinder': '600',
 'flue gas heat recovery device in conjunction with boiler': '900',
 'hot water cylinder thermostat': '400',
 'replacement warm air unit': '2500',
 'change room heaters to condensing boiler': '7000',
 'install condensing boiler': '3000',
 'insulate hot water cylinder with 80 mm jacket': '30',
 'wood pellet stove with boiler and radiators': '13000'}

In [29]:
def get_improvements():
    improvements = {}
    for key in ["Improvement 1", 'Improvement 2', 'Improvement 3']:
        i = input( key + ": " )
        measure = i
        improvements[ key ] = measure
    
    price = []
    for value in improvements.values():
        for imp in rec4.keys():
            if value in imp:
                price.append(int(rec4[imp]))
                
    max_price = sum(price)

    print('Individual costs (respectively):', price)
    print('Estimated Total Maximum price: £',max_price)
get_improvements()

Improvement 1: wind turbine
Improvement 2: heating control
Improvement 3: warm air unit
Individual costs (respectively): [25000, 450, 450, 2500]
Estimated Total Maximum price: £ 28400